<form [formGroup]="rgFormTeam" style="width: 100vw;">
    <h2 class="colors-primary d-flex justify-content-center aling-items-center bg-secondary-color" style="height:3rem">
        Cadastrar uma nova
        equipe
    </h2>

    <div class="d-flex justify-content-center aling-items center" style="padding-top: .5rem">
        <div class="bg-secondary-color"
            style="width: 80vw;height: 4rem;display: flex;justify-content: space-around;align-items: center;">
            <div class="d-flex justify-content-center aling-items-center">
                <button [routerLink]="['/teams']" class="btn btn-secondary mr-3"><i
                        class="fa-solid fa-arrow-left"></i></button>
                <button (click)="refresh()" class="btn btn-danger mr-3"><i
                        class="fa-solid fa-arrows-rotate"></i></button>
                <button [routerLink]="['/teams']" (click)="save()" [disabled]="!rgFormTeam.valid" class="btn btn-success"><i
                        class="fa-solid fa-floppy-disk primary-color"></i></button>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center aling-items-center">

        <div class="wrapper-form form overflow-auto bg-white-color" style="width: 80vw;height: 65vh;">
            <div class="d-flex justify-content-center aling-items-center my-2">
                <div class="col-md-11">
                    <div class="form-floating position-relative">
                        <input formControlName="name" type="text" class="form-control" type="text"
                            id="floatingInputGrid" placeholder="Nome da equipe" value="Team" name="teamName">
                        <label for="floatingInputGrid">Nome da equipe</label>
                    </div>
                </div>
            </div>

            <div class="d-flex aling-items-center justify-content-center col-11 ml-5">
                <div class="d-flex justify-content-between">
                    <div (click)="addMembers()" class="btn"
                        style="background-color: #f56e28; color: #ffffff; padding-top: .6rem;">
                        <i class="fa-solid fa-plus"></i>
                        <label class="ml-3" for="">Membro</label>
                    </div>
                </div>
            </div>

            <ng-container formArrayName="members" *ngFor="let member of members.controls;let i = index">
                <div [formGroupName]="i" class="d-flex justify-content-center aling-items-center my-2">
                    <div class="col-md-10">
                        <div class="form-floating">
                            <input formControlName="nameMember" type="text" name="member" [attr.id]="'member' + i"
                                id="floatingInputGridT" placeholder="Nome do membro" class="form-control">
                            <label [attr.for]="'member'" for="floatingInputGridT">Nome do membro</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center aling-items-center flex-column">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger" (click)="deleteMember(i)"><i
                                    class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</form>