<form [formGroup]="rgForm" *ngIf="project" style="width: 100vw;">

    <h2 class="colors-primary d-flex justify-content-center aling-items-center bg-secondary-color">
        {{ project.name | titlecase }}
    </h2>

    <div class="d-flex justify-content-center aling-items center" style="padding-top: .2rem">
        <div class="bg-secondary-color"
            style="width: 80vw;height: 4rem;display: flex;justify-content: space-around;align-items: center;">
            <div class="btns-new d-flex justify-content-center aling-items-center">
                <button [routerLink]="['/projects']" class="btn btn-secondary mr-3"><i
                        class="fa-solid fa-arrow-left"></i></button>
                <button [routerLink]="['/projects']" (click)="save()" [disabled]="!rgForm.valid"
                    class="btn btn-success mr-3"><i class="fa-solid fa-floppy-disk primary-color"></i></button>
                    <div (click)="addTasks()" class="btn"
                        style="background-color: #f56e28; color: #ffffff; padding-top: .6rem;" id="btnAddTask">
                        <i class="fa-solid fa-plus "></i>
                        <label class="ml-3">Tarefa</label>
                    </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center aling-items-center">
        <div class="wrapper-form form overflow-auto bg-white-color" style="width: 80vw;height: 65vh;">

            <div class="d-flex justify-content-center aling-items-center my-2">
                <div class="col-md-11">
                    <div class="form-floating position-relative">
                        <input formControlName="name" type="text" class="form-control" id="floatingInputGrid"
                            placeholder="Manager Project" value="Project" name="projectName">
                        <label for="floatingInputGrid">Nome do projeto</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center aling-items-center mb-2">
                <div class="col-md-11">
                    <div class="form-floating">
                        <textarea formControlName="description" class="form-control"
                            placeholder="Project for description" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Descrição do projeto</label>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center aling-items-center">
                <div class="col-md-11">
                    <div class="form-floating position-relative">
                        <input formControlName="team" type="text" class="form-control" id="floatingInputGrid"
                            value="Project" name="team">
                        <label for="floatingInputGrid">Equipe</label>
                    </div>
                </div>
            </div>

            <ng-container formArrayName="tasks" *ngFor="let task of tasks.controls; let i=index">
                <div [formGroupName]="i" class="d-flex justify-content-center aling-items-center my-2">
                    <div class="col-md-5">
                        <div class="form-floating">
                            <input type="text" formControlName="nameTask" [attr.id]="'task' + i" id="floatingInputGridT"
                                class="form-control" placeholder="Nome da tarefa" required>
                            <label [attr.for]="'task' + i" for="floatingInputGridT">Tarefa {{ i }}</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-floating">
                            <input type="text" formControlName="member" [attr.id]="'nameMember' + i"
                                id="floatingInputGridT" class="form-control" placeholder="Nome do membro" required>
                            <label [attr.for]="'nameMember' + i" for="floatingInputGridT">Membro {{i}}</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center aling-items-center flex-column">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger" (click)="deleteTask(i)"><i
                                    class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</form>