<div class="">

    <h2 class="colors-primary d-flex justify-content-center aling-items-center bg-secondary-color">Cadastrar um novo
        projeto</h2>

    <div class="d-flex justify-content-center aling-items-center col-6">
        <div class="form-floating mb-3">
            <input [(ngModel)]="project.name" type="text" class="form-control" id="floatingInput"
                placeholder="Nome do projeto" required>
            <label for="floatingInput">Nome do projeto</label>
        </div>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="project.teams">
            <option selected>Selecione a equipe</option>
            <option *ngFor="let team of filteredTeams" value="1">{{ team.name }}</option>
        </select>
        <div class="form-floating">
            <textarea [(ngModel)]="project.description" class="form-control" placeholder="Project for description"
                id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Descrição</label>
        </div>

        <div  class="tasks">
            <button class="activeTaskNew" (click)="mostrar()">Add task+</button>
            <div *ngIf="show">
                <input [(ngModel)]="project.tasks" type="text" class="form-control" id="floatingInput" placeholder="Tarefas">
                <label for="floatingInput">Tarefa do projeto</label>
                <button class="saveTask">salvar</button>
                <div>
                    <span class="tasksAll">{{ project.tasks }}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="btns-new d-flex justify-content-center aling-items-center">
        <button [routerLink]="['/projects']" (click)="save()" class="btn btn-info mr-3">Save</button>
        <button [routerLink]="['/projects']" class="btn btn-secondary">Back</button>
    </div>

</div>