<footer class="text-center text-lg-start bg-light text-muted">

    <div class="links">
        <div class="company">
            <h5>Brisanet telecomunicações</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed deserunt vero, veritatis minus, cum quas
                soluta aperiam hic at facilis accusantium totam velit quam officiis iusto quis, officia quisquam odit?
            </p>
        </div>
        <div class="documentation">
            <h5>Documentação</h5>
            <a href="https://github.com/cadumeneses/manager-projects">Github</a>
        </div>
        <div class="utility">
            <a href="https://angular.io/">Angular</a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </div>

    <div class="copyright text-center p-4">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://www.brisanet.com.br/">Brisanet.com</a>
    </div>

</footer>