nav{
    width: 100vw;
}

#navbar{
    border-bottom: 1px solid #f56e28;
}

.title{
    font-weight: 800;
    font-size: 2rem;
}

#navbar a:hover{
    color: #f56e28;
}

#navbar a.active{
    border-bottom:1px solid #f56e28;
    color: #ffffff;
}

.navbar-brand{
    display: flex;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

#navbar-items .nav-item{
    margin: 0 1em;
}

.nav-item a{
    font-size: 1.2rem;
    font-weight: 600;
}