<nav class="navbar navbar-expand-lg bg-primary-color" id="navbar">
    <div class="container py-3 ">
        <a [routerLink]="['/projects']" class="navbar-brand primary-color title">Project Manager</a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items"
            aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse"id="navbar-items">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="['/projects']" routerLinkActive="active" class="nav-link primary-color">Projetos</a>
                </li>   
                <li class="nav-item">
                    <a [routerLink]="['/teams']" routerLinkActive="active" class="nav-link primary-color">Equipes</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/tasks']" routerLinkActive="active" class="nav-link primary-color">Tarefas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>