<nav class="navbar navbar-expand-lg navbar-light mr-2">
    <a [routerLink]="['/projects']" class="navbar-brand">Project Manager</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/projects']" routerLinkActive="active" class="nav-link">Projetos</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/teams']" routerLinkActive="active" class="nav-link">Equipes</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/tasks']" routerLinkActive="active" class="nav-link">Tarefas</a>
            </li>
        </ul>
    </div>
</nav>