<div class="team-list bg-primary-color">

    <div class="title bg-secondary-color colors-primary">
        <h2>Lista de Equipes</h2>
    </div>

    <div class="box-all">
        <div class="functions-teams bg-secondary-color">
            <input [(ngModel)]="filter" class="btn filter-team" placeholder="Pesquise uma equipe">
            <a [routerLink]="['/teams/new']" class="btn btn-create"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>

    <div class="box-table">
        <div class="wrapper-table overflow-auto">
            <table class="table">
                <thead class="thead sticky-top">
                    <tr >
                        <th>Nome da equipe</th>
                        <!-- <th>Membros</th> -->
                        <th>Projeto</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody class="table">
                    <tr *ngFor="let team of getListOrdered()">
                        <td>{{ team.name }}</td>
                        <!-- <td *ngFor="let member of team.members; let i= index" [innerHTML]="member.name | uppercase | pipeTeam"><br/></td> -->
                        <td>{{ team.project_name}}</td>
                        <td>
                            <div class="btns-action">
                                <a [routerLink]="['/teams/info', team.id]"
                                    class="btn bg-blue-color info mx-2 btn-opacity"><i
                                    class="fa-solid fa-info primary-color"
                                    style="width: 1rem; height: 1rem;"></i></a>
                                <button [routerLink]="['/teams']" (click)="deleteById(team.id)"
                                    class="btn btn-danger btn-opacity"><i class="fa-solid fa-trash-can primary-color"
                                    style="width: 1rem; height: 1rem;"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>