<div class="team-list bg-primary-color">

    <div class="title bg-secondary-color colors-primary">
        <h2>Lista de Equipes</h2>
    </div>

    <div class="box-all">
        <div class="functions-teams bg-secondary-color">
            <input [(ngModel)]="filter" class="filter-team" placeholder="Pesquise o nome projeto">
            <a [routerLink]="['/teams/new']" class="btn-create">Cadastrar um Equipes</a>
        </div>
    </div>

    <div class="box-table">
        <div class="wrapper-table overflow-auto">
            <table class="table">
                <thead class="thead sticky-top">
                    <tr>
                        <th>Nome da equipe</th>
                        <th>Membros</th>
                        <th>Projeto</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody class="table">
                    <tr *ngFor="let team of filteredTeams">
                        <td>{{ team.name }}</td>
                        <td>{{ team.members}}</td>
                        <td>{{ team.project_name}}</td>
                        <td>
                            <div class="btns-action">
                                <a [routerLink]="['/teams/info', team.id]"
                                    class="btn btn-info mx-2">Informações</a>
                                <button [routerLink]="['/teams']" (click)="deleteById(team.id)"
                                    class="btn btn-danger">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>