*{
    font-family:'Martel, serif';
}

.bg-white-color{
    color: #f5f5f5;
}

.bg-primary-color{
    background-color: #E5E5E5;
}

.bg-secondary-color{
    background-color:#F9FBFD;
}

.bg-dark-color{
    background-color: #191919;
}

.primary-color{
    color: #343D48;
}

.secondary-color{
    color: #0F2137;
}

.colors-primary{
    color: #f56e28;
}

.colors-secondary{
    color: #083D93;
}


