*{
    font-family:'Martel, serif';
}

.bg-primary-color{
    background-color: #f5f5f5;
}

.bg-secondary-color{
    background-color:#ADA8BE;
}

.bg-dark-color{
    background-color: #191919;
}

.primary-color{
    color: #191919;
}

.secondary-color{
    color: #D5C5C8;
}
