*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Martel, serif';
}

body{
    background-color: #E5E5E5;
}

.bg-white-color{
    color: #f5f5f5;
}

.bg-primary-color{
    background-color: #E5E5E5;
}

.bg-secondary-color{
    background-color:#F9FBFD;
}

.bg-dark-color{
    background-color: #191919;
}

.bg-blue-color{
    background-color: #083D93;
}

.primary-color{
    color: #ffffff;
}

.secondary-color{
    color: #0F2137;
}

.colors-primary{
    color: #f56e28;
}

.colors-secondary{
    color: #083D93;
}


