*{
    overflow-x: hidden;
}

.project-list{
    width: 100vw;
}

.title{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.box-all{
    padding-top: .5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functions-projects{
    width: 80vw;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-project{
    width: 15rem;
    height: 2.5rem;
    border: 1px solid#f56e28;
    padding: 1rem;
    outline: none;
    color: #f56e28;
}

input::placeholder{
    color: #f56e28;
}

input:focus::placeholder{
    color:#F9FBFD;
}

.btn-create{
    background-color: #f56e28;
    color: #ffffff;
    padding-top: .6rem;
}

.btn-create:hover{
    background-color:#083D93;
    text-decoration: none;
}

.box-table{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-table{
    width: 80vw;
    height: 65vh;
}

.table th,
.table td{
    padding: 1rem;
}

.table td{
    color: #083D93;
    font-weight: 600;
    text-align: center;
}

tbody tr:hover{
    background-color: #dbdbdb;
    font-size: 1.2rem;
}

.thead{
    background-color: #083D93;
    color: #ffffff;
    text-align: center;
    height: 4rem;
}

.btns-action{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.btn-opacity:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-opacity {
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.info:hover{
    background-color: #083D93;
}