<div class="project-list bg-primary-color">

    <div class="title bg-secondary-color colors-primary">
        <h2>Lista de Projetos</h2>
    </div>

    <div class="box-all">
        <div class="functions-projects bg-secondary-color">
            <input [(ngModel)]="filter" class="btn filter-project" placeholder="Pesquise um projeto">
            <a [routerLink]="['/projects/new']" class="btn btn-create"><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>

    <div class="box-table">
        <div class="wrapper-table overflow-auto">
            <table class="table">
                <thead class="thead sticky-top">
                    <tr>
                        <th>Nome do projeto</th>
                        <th>Equipe</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody class="table">
                    <tr *ngFor="let project of filteredProjects">
                        <td>{{ project.name }}</td>
                        <td>{{ project.team }}</td>
                        <td>
                            <div class="btns-action">
                                <a [routerLink]="['/projects/info', project.id]" class="btn bg-blue-color info mx-2 btn-opacity" style="border-radius: 6.25rem;"><i
                                        class="fa-solid fa-info primary-color"
                                        style="width: 1rem; height: 1rem;"></i></a>
                                <button [routerLink]="['/projects']" (click)="deleteById(project.id)"
                                    class="btn btn-danger btn-opacity" style="border-radius: 6.25rem;"><i class="fa-solid fa-trash-can primary-color"
                                        style="width: 1rem; height: 1rem;"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>